<%@full_width_footer=true%>
<div id="main-full-width" style='margin:0px;padding:0px'>
<div class="header1" style="height:1em;padding-top:0.25em;padding-bottom:0.5em">
<div style='float:right'>
<span class='grey smaller'>popular bands are in </span><span style='font-size:18px;font-weight:bold;color:#369'>BOLD</span>
</div>
<div>
			upcoming <%=@metro.downcase%> shows 
</div>
<div style='clear:right'></div>
</div>
</div> <!-- end main div -->