<div class="error">
<div style="color:green">
	<%
		@successes.each{|success|
			%>
		    <%=success%><br>
			<%
		} if @successes
	%>
</div>
<%if not @errors.empty?%>
<%if not @successes.empty?%>
<br>
Additionally, the
<%else%>
The
<%end%>
following error(s) were encountered:
<ul>
<%
	@errors.each{|error|
		%>
	    <li><%=error%>
		<%
	} if @errors
%>
</ul>
</div>
<%end%>
