<%= error_messages_for 'note' %>

<!--[form:note]-->

<p><span style="background-color:#AAF;padding:1.0em">
<label for="note_action">Action</label>
<%= select 'note', 'action', ["sent email","got email","phone call","mention","note"]%></span></p>
<p><label for="note_message">Note</label><br/>
<%= text_area 'note', 'message'  %></p>

<input type="hidden" name="source_id" value="<%=params['id']%>">
<!--[eoform:note]-->

