<br>
<br>
<b>NOTES</b>
<br>
<%= link_to 'New note', :controller=>'notes',:action => 'new', :id => @source %>
<%@source.notes.each{|note|%>
<p><span style="background-color:#AAF;padding:0.1em">
	<%=note.action%>
</span>&nbsp;<%=distance_of_time_in_words_to_now note.updated_at%> ago
<br>
<%=note.message.gsub(/\n/,"<br>") if note.message%> <span style="color:grey">- <%=note.user.name if note.user%></span>
	
</p>
<br><br>
<%}%>