<div id="main-full-width">
	<div class="header1">
		Search all cities
	</div>
<div style="padding:1em" >
<%= javascript_include_tag "controls.js" %>	

<%= text_field_with_auto_complete :shared_event, :summary, { :size => 40 }, :skip_style => false -%>
</div>
</div>