You are receiving this email because your Tourfilter settings (username, password, etc.) were just changed at reflyer.com/your_city/settings.

Here is your new Reflyer account information:

Email Address: <%=@user.email_address%>
username: <%=@user.name%>
password: <%=@user.password%>

Thanks!
Reflyer

p.s. you can reply to this email with questions/feedback
