<div id="main-full-width">
<h2>lost password</h2>
<div class="error" id="result"></div>
<br>
Enter the email address you used to sign up for Tourfilter below. <br>
<br>
Your password will be mailed to you immediately.<br>
<br>
<%=form_remote_tag (:update =>"result",
					:url =>{:action => 'handler'})
					-%>
Email Address:&nbsp;<%=text_field_tag "email_address"%>
<br><br>
<%=submit_tag "Send Password"%>
</form>
</div>
