
<script>
<script>
//	google images bookmarklet

javascript:

function encode(url)
{
	url = url.replace(/\//g,%22%252F%22);
	url = url.replace(/\?/g,%22%253F%22);
	url = url.replace(/\&/g,%22%2526%22);
	return url;
};
	return;
	referer=encode(document.referrer);
	url=encode(location.href);
	location.href=%22http://www.tourfilter.local:3000/admin/set_image/%22+url+%22/%22+referer
</script>

<script>
	
</script>