Hi <%=@user.name%>!

The flyer that was flagged, is now unflagged - and up on the site!

You can edit the flyer (upload new image, change text, etc.) here:

http://www.reflyer.com/<%=@metro_code%>/post_flyer?id=<%=@imported_event.id%>

If you have any questions, just reply to this email and you'll reach me directly.

Thanks!

Chris M.
Tourfilter
chris@reflyer.com


