<%=@imported_event.category.upcase%>: <%=@imported_event.body%>

DESCRIPTION: <%=@imported_event.body||'none'%>

WHEN+WHERE: <%=@imported_event.venue_name%> <%=@imported_event.very_short_time_description%>

IMAGE: <%=@imported_event.image.medium_url%>

http://www.tourfilter.com/<%=@metro_code%>/flyers

http://www.tourfilter.com/<%=@metro_code%>/post_flyer?id=<%=@imported_event.id%>

