<%=@imported_event.user.name%> re-flyered your flyer <%if @imported_event.body && @imported_event.body.size>3-%>("<%=@imported_event.body[0..100] %> ...")<%end-%>!

view flyer: http://ec2-50-16-88-138.compute-1.amazonaws.com<%=@imported_event.oneup_url(@metro_code)%>?email=true

------------------------------------------------------
change your notification settings 
http://www.tourfilter.com/<%=@metro_code%>/settings
