Hi <%=@user.name%>!

The flyer you just posted to tourfilter didn't make the cut, for the following reason:

<%=@note%>

You can edit the flyer (upload new image, change text, etc.) here:

http://www.reflyer.com/<%=@metro_code%>/post_flyer?id=<%=@imported_event.id%>

If you have any questions, just reply to this email and you'll reach me directly.

Thanks for your understanding!

Chris M.
Reflyer
chris@reflyer.com


