
<script>
	function mouseover(match_id)
	{
		try
		{
			$("meta_line_1_"+match_id).style.visibility='visible'
		}
		catch (e)
		{
		}

		try
		{
			$("blog_entry_footer_"+match_id).style.visibility='visible'
		}
		catch (e)
		{
		}
	}

	function mouseout(match_id)
	{
		try
		{
			$("meta_line_1_"+match_id).style.visibility='hidden'
		}
		catch (e)
		{
		}
		try
		{
			$("blog_entry_footer_"+match_id).style.visibility='hidden'
		}
		catch (e)
		{
		}
	}
</script>

