<div class='scarcity_message'>
<%if @youser.recommenders and not @youser.recommenders.empty?%>
  <p>No upcoming shows for people you follow.</p> 
<%else%>
  <p>No one you are following has concerts in their calendar.</p>
<%end%>
<p>You can follow people by visiting their pages and clicking on "follow."</p>
</div>