<%
	if youser&&youser.id==Integer(parent_user_id)&&!match.is_recommended_by_user(youser)
%>
			(<%=link_to "recommend this show",
					:controller => 'recommend',
					:id => match.id
				%>)
	<%end%>
