<%width||=nil%>
<%height||=nil%>
<%cache(
  :controller => "rolling_6months", 
  :action => "echonest_reviews_small_#{term.url_text}") do%>
<span class='term_icon'>
<%=render(:partial=>'shared/echonest_stories',:locals=>{:type=>'reviews',:term_text=>term.text,:width=>width,:height=>height})%>
</span>
<%end%>

