<%if term.feature%>
<span class='term_icon'>
<!--<a href=''><img style='height:16px' src='<%=term.feature.image.small_url%>'></a>-->
<a href=''><img src='/images/tflogo.png' style='height:16px'></a>
</span>
<%else%>
<span class='term_icon'>
<%=render(:partial=>'shared/echonest_stories',:locals=>{:term_text=>term.text})%>
</span>
<%end%>
