<%page_section||=page_section%>
<%ticket_url = match.ticket_url%>
<%if ticket_url and not ticket_url.empty?%>
<span class='underline buy_tickets' id='buy_tickets_<%=match.id%>'>
<%=ticket_link(@external_click_hash,{'url'=>ticket_url},"tickets",
			{
				:page_section=>page_section,
				:term_text=>term_text
			},
			{
			}
	)%>
</span>
<%end%>