<%ticket_urls=match.ticket_urls%>
<%if not ticket_urls.empty?%>
<span class="buy_tickets">
<%=ticket_link(@external_click_hash,ticket_urls.first,"buy #{@term.text.downcase} tickets",
	{
		:page_section=>"main_show",
		:term_text=>@term_text
	}
	)%>
 from 
<%ticket_urls.each{|ticket_url|-%>
	<%=ticket_link(@external_click_hash,ticket_url,ticket_url['source'],
		{
			:page_section=>"main_show",
			:term_text=>@term_text
		}
		)%>
<%}%>
</span>
<%end%>