<%page_section||=page_section%>

<%ticket_url = URI.decode(match.ticket_url) rescue match.ticket_url%>
<%label||='tickets'%>
<%cl||='underline buy_tickets'%>
<%if ticket_url and not ticket_url.empty?%>
<span class='<%=cl%>' id='buy_tickets_<%=match.id%>'>
<%=ticket_link(@external_click_hash,{'url'=>ticket_url},label,
			{
				:page_section=>page_section,
				:page_type=>page_type,
				:term_text=>term_text
			},
			{
			}
	)%>
</span>
<%end%>