<%
	num=-1
	num=params[:num] if params[:num]
	matches = Match.matches_for_today(num)
	return if not matches or matches.empty?
%>

<div class="tonights_shows" style="padding:0.25em">
	<span class="gray">
	tonight! 
	</span>
	<%matches.each {|match|%>
		<span style="padding-right:0px;margin:0px;border:0px"><img src="/images/star.gif"></span>
		<%=link_to "#{match.term.text}",
				 "/#{match.term.url_text}"%>
			<span class="gray">
				 at <%=match.page.place.name%>
			</span>
	<%}%>
</div>
