<%num||=20%>
<%offset||=0%>
<%show_created_at=true if show_created_at.nil?%>
<%order_by||="created_at desc"%>
<%metro_cache(
  :controller => "nightly", 
  :action => "uncollated_calendar_#{order_by}") do%>
<%matches=Match.matches_within_n_days_for_user(num,offset,nil,"#{order_by},page_id")%>
  <%page||="new_calendar"%>
  <%page_type||="new_calendar"%>
  <div class='feature_calendar_date'>
  	<div style='float:left'>show</div>
  	<div style='float:right'>tickets</div>
  	<div style='clear:left'></div>
  </div>	
  <%terms_shown=Hash.new%>
  <%matches.each_with_index{|match,i|%>
    <%break if i>50%>
    <%next if terms_shown[match.term.text_with_the]%>
    <%terms_shown[match.term.text_with_the]=true%>
  	<div>
  			<%=render(:partial=>'shared/calendar_match_no_feature_narrower',
  				:locals=>{:show_date_headers=>false,:show_created_at=>show_created_at,:day=>nil,:matches=>[match],:index=>i})%>
    </div>
  <%}%>
<%end%>