<div style="padding:0.5em;background-color:#ffe;">
<object width="425" height="350"><param name="movie" value="http://www.youtube.com/v/<%=youtube_id%>&autoplay=1"></param><param name="wmode" value="transparent"></param>
<embed src="http://www.youtube.com/v/<%=youtube_id%>&autoplay=1" type="application/x-shockwave-flash" wmode="transparent" width="425" height="350"></embed>
</object>
</div>
