<div id='main-flush-left'>
<div class='header1'>unsubscribe</div>
<%if @user.wants_weekly? ==false%>
<p>You have been unsubscribed from the tourfilter newsletter (<a href="<%=url('/settings')%>">re-subscribe</a>). </p>
<p>You will continue to receive individual show notification emails for any bands you are tracking.</p>
<%else%>
<p>There was an error. You were not unsubscribed. Please email us at <a mailto='info@tourfilter.com'>info@tourfilter.com</a> and we will manually 
	unsubscribe you.</p>
<%end%>
</div>