<h2>
popular artists
</h2>
<table>
<%@matches.each{|match|%>
<tr>
<td>
	<%=match.num_trackers%>
</td>
<td>
<a href="http://www.tourfilter.com/<%=@metro_code%>/<%=match.term.url_text%>"><%=match.term.text.downcase.gsub /the /, ""%></a>
</td>
<td><%=match.very_short_time_description%></td>
</tr>
<%} if @matches%>	
</table>
