<tr>
<tr>
<td class='smaller gray'>
</td>
<td nowrap >
&nbsp;<a href="/<%=@metro_code%>/<%=band_match.term.url_text%>"><%=band_match.term.text.downcase%></a>&nbsp;
</td><td>
<span >
<%=band_match.page.place.name.downcase[0..24]%>
<span class='smaller'>
<%=band_match.very_short_time_description.downcase%>
</span>
</span>
</td>
<td nowrap>
<%=render(:partial=>'shared/tickets',:locals=>{:match=>band_match,"page_section"=>"popular"})%>
<td>&nbsp;</td>
</tr>