<tr >
	<td>
<a href="/<%=@metro_code%>/<%=band_match_inline.term.url_text%>"><%=band_match_inline.term.text.downcase%></a>
</td>
<td>
  <span class='gray	'><%=band_match_inline.page.place.name.downcase[0..24]%>
<%=band_match_inline.very_short_time_description.downcase%></span>
</td>
<td align=right>
<%=render(:partial=>'shared/tickets',:locals=>
	{
		:match=>band_match_inline,
		:page_section=>page_section,
		:term_text=>band_match_inline.term.text
	})%>
</td>
</tr>

