<%= stylesheet_link_tag 'redbox' %>
<div style="padding:5em;display:none;background-color:white" id="redbox">redbox</div>
<script>
	RedBox.showInline('redbox');
</script>

<%#=link_to_redbox("redbox", "redbox")%>

