<%=render(:partial => "manage_recommendations", :locals =>
                {
                 :is_recommendee => @is_recommendee,
                 :user => @user,
				 :youser => @youser
                }
                )-%>