<%=render(:partial => "shared/track_term", :locals =>
                {
                 :term => @tracked_term,
                 :youser => @youser,
				 :parent_user_id => @parent_user_id
                }
                )%>
