
<%=@match.term.text.downcase%> is coming to <%=@match.page.place.name.downcase%>!

tickets/more info: http://www.tourfilter.com/<%=@metro_code%>/n/<%=@match.id%>

enjoy!
tourfilter
http://www.tourfilter.com/<%=@metro_code%>

Question? Just reply to this email to reach a real person.
