hi,

<%=@match.term.text.downcase%> is coming to <%=@match.page.place.name.downcase%>!

tickets/more info: http://www.reflyer.com/<%=@metro_code%>/n/<%=@match.id%>

enjoy!
reflyer
http://www.reflyer.com/<%=@metro_code%>

Question? email chris at marstall@gmail.com.

*** NOTE! DO NOT REPLY TO THIS EMAIL!
