hi,

<%=@match.term.text.downcase%> is coming to <%=@match.page.place.name.downcase%> <%="on #{@match.very_short_time_description}" if @match.day%>!
<%name_string = @user.name_chosen? ? "#{@user.name}, " :""%>
		

CLICK TO BUY TIX => http://www.tourfilter.com/show/<%=@match.id%>/<%=@user.reset_autologin_code%>

Thanks!
chris
tourfilter.com


Question? email chris@tourfilter.com
