hi,

<%=@match.term.text.downcase%> is coming to <%=@match.page.place.name.downcase%> <%="on #{@match.very_short_time_description}" if @match.day%>!

tickets/more info: http://www.tourfilter.com/show/<%=@match.id%>/<%=@user.reset_autologin_code%>

enjoy!
tourfilter

Add more bands! => http://www.tourfilter.com/add_bands/<%=@user.reset_autologin_code%>

Question? email chris@tourfilter.com
