<tr><td bgcolor="#eeeeee">
&#8220;<%=blurb.blurb%>&#8221;
</td>
<td nowrap valign=bottom bgcolor="#f0f0c0" >
	<%#if blurb.image%>
	<!--	<a border=0 href="<%=blurb.blog_url%>"><img border=0 src="<%=blurb.image_url%>"></a>-->
	<%#else%>
	<span style="color:#505050;text-transform:lowercase">
	&nbsp;<a href="<%=blurb.blog_url%>"><%=blurb.name%></a>
	</span>
	<%#end%>
</td>
</tr>