<div style="	background-color:white;
	padding: 5em;
	font-family:helvetica"
>
<div style="font-size:3em;color:#E55;font-weight:bolder">
tourfilter<span style="	color:#aDd5F5;">.<span style="color:#aDd5F5;">com</span>
</div>
</div>

<script>
var current_term_more_window_term_id=0
function setf(i)
{
	current_term_more_window_term_id=i
	document.write(current_term_more_window_term_id+"<br>")
}

document.write(current_term_more_window_term_id+"<br>")
setf(5);
document.write(current_term_more_window_term_id+"<br>")
setf(6);
document.write(current_term_more_window_term_id+"<br>")
</script>
