<a href="http://groovetickets.com/ordersystem/Tribe/eventviewqb.asp?affilid=1594&EventsID=24604&PGName=TicketBea
@NEMO => Dr. Octagon, Diamond Nights, The Bleedin Bleedins, Be Your Own Pet, Ladytron, Grace Potter & The Nocturnals, The Long Winters, 7L & Esoteric, The Black Lips, Joseph Arthur, tons more">click if you are not immediately redirected</a>
<script>
document.location.href="http://groovetickets.com/ordersystem/Tribe/eventviewqb.asp?affilid=1594&EventsID=24604&PGName=TicketBea"
</script>
