<%=render(:partial=>"shared/trim_calendar_container",
    :locals=>
    {
      :narrower=>true,
      :show_date_headers=>true,
      :offset=>params[:offset],
  		:user=>@youser,
  		:no_weekdays=>true,
  		:no_alternating_colors=>true,
  		:short_dates=>true,
  		:hide_venues=>true,
  		:viewing_self => true,
  		:page=>'me',
  		:days_to_show=>180
    }
  )%>
