<%=render(:partial=>'shared/calendar_options',:locals=>{:options_label=>@options_label,:nav_array=>@nav_array})%>
<div class='editors_pick_header'>
  new
  <div  style='vertical-align:bottom;float:right;font-size:12px'>
  ... experimental: <a href='<%=url("/edit/rich_matches?num=50&order_by=created_at+desc")%>'>reviewers view</a>
  </div>
  <div style='clear:right'></div>
</div>
<%=render(:partial =>"shared/uncollated_calendar_narrowest",:locals=>{:order_by=>"created_at desc",:num=>150,:narrower=>true,:show_date_headers=>true,:show_created_at=>true,:show_reviews=>true})%>
