<%@full_width_footer=true%>
<div id='main-full-width'>
<h1>
  beta tester signup
</h1>
<div style='border:8px solid #ddf5f5;color: #900;padding:1em;margin:2em;margin-left:15em;margin-right:15em;line-height:1.5em;font-family:Georgia'>
Enter your email address to help test a new and completely redesigned version of tourfilter, coming soon!<br><form method='post' action='<%=url("/edit/beta_signup")%>'>
    <div style='background-color:#ddf5f5;padding:0.5em;margin-top:4px;'>
    email address <input size=30 type='text' name='email_address' value='<%=params[:email_address]||@youser.email_address rescue ""%>'/><input type='submit'>
    </div>
  </form>
</p>
<p>
  
</p>
</div>
</div>