<div id="right-column">
<%=render(:partial => "shared/find_user")%>
</div>
<div id="main">
<div class="header1">recent tourfilter users</div>
<%
	start=params[:start]
	start=0 if not start
	num=params[:num]
	num=100 if not num
%>
<%=render(:partial => "shared/recent_users",
			:locals =>
			                {
								:start => start,
								:num => num
			                }
)%>
</div>
	