<div id="suggested_terms" >
<div id='related_terms' style='float:left;margin-left:6px;position:absolute'>
<%#=render(:partial=>'related_terms',:locals=>{:related_terms=>@related_terms,:label=>'recommended based on<br>what you\'ve entered'})%>
<%=render(:partial=>'homepage_related_grid',:locals=>{:terms=>@term_texts,:num_related=>5})%>
</div>
</div>