<script src="/stylesheets/jquery.min.js" type="text/javascript"></script>
<script src="/stylesheets/jquery.colorbox-min.js" type="text/javascript"></script>
<script src="http://prototypejs.org/assets/2009/8/31/prototype.js" type="text/javascript"></script>
<%= javascript_include_tag "application" %>	
<script>
	jQuery.noConflict();
</script>
	jQuery(document).ready(function($) {
		alert('ready');
//		document.writeln("ready.<br>")
//		jQuery("pop").addClass('smaller');
//		jQuery("pop").colorbox();
	});
</script>

