<%=render(:partial=>'shared/calendar_options',:locals=>{:options_label=>@options_label,:nav_array=>@nav_array})%>
<%=render(:partial=>"shared/calendar_by_place",:locals=>{:show_date_headers=>false,:num_columns=>2})%>
