<div class="blurb" style="text-align:center">
&#8220;<%=blurb.blurb%>&#8221;
	<span style="text-transform:lowercase">
	<a href="<%=blurb.blog_url%>">--&nbsp;<%=blurb.name.gsub(" ","&nbsp;")%></a>
	</span>
	<%#end%>
</div>
<div style="height:16px"></div>