<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:fb="http://www.facebook.com/2008/fbml">
<%if !@fragment%>
	<head>
<meta name="verify-v1" content="XkDMxOJ8KMbX5WUCSaSSZ5DwuwkjBBfcTBW50KE84+k=" />
		<%
		  if @not_in_a_city
  			title="search - tourfilter | concert search engine, concert tickets, live music notifications, calendar of upcoming concerts" 
			else
  			title="tourfilter: 	boston concert stuff" 
#  			title="tourfilter #{@metro.downcase}: spam-free concert alerts" if @metro
  			title="#{@page_title}" if @page_title
#  			title="#{@page_title} - tourfilter: #{@metro||''.downcase} concert alerts" if @page_title and @append_minimal_title
  			title=@page_title if @page_title and @no_append_title
			end
		%>
	  <title><%=title%></title>
	  <%= stylesheet_link_tag 'tourfilter' %>
<%unless @no_javascript%>
	<%= javascript_include_tag "application" %>	
<%end%>	
</head>
<script type="text/javascript">var _sf_startpt=(new Date()).getTime()</script>
<script>
	jQuery(document).ready(function(){
		instant_search_loaded = function() {
			jQuery("#loading").hide()
		}
		instant_search_loading = function() {
			jQuery("#loading").show()
		}

	});
</script>
	<body>
		
	  <!--
	  <div class='above_header'>
	    <span class='above_header_span'>
          <%prompt="search for concerts"%>
          <%=text_field_tag(:summary,"","size" => 32, :id=>'search_input',
          	:value=>prompt,
          	:onfocus=>"if (this.value=='#{prompt}') this.value='';$('clear').style.visibility='visible'",
          	:onblur=>"if (this.value=='') this.value='#{prompt}';if (this.value.length()>0) {$('clear').style.visibility='hidden'}"
          	)%>
  			&nbsp;
	      </span>
	    </div>
	  -->
	  <%if  @show_imports #!@youser%>
	  <div class='above_header'>
	    <span class='above_header_span'>
	    import! 
<!--	    <span class='above_header_icon'><img height=20px src='/images/itunes_icon.png'></span>
	    <a href='http://www.tourfilter.local:3000/boston/itunes?signup=true'>iTunes</a> 
      or-->
	    <span class='above_header_icon'><img height=20px src='/images/lastfm_icon.png'></span>
	    <span class='underline'><a href='http://www.tourfilter.local:3000/boston/lastfm?signup=true'>last.fm</a> </span>
	    </span>
	  </div>
	  <%end%>
    	<%unless @hide_login or @not_in_a_city%>
  	  <div class='above_header'>
				<div class='underline' style='background-color:#ffd;padding:12px;margin-left:0px;font-size:14px;text-align:left;margin-bottom:15px;margin-top:10px;line-height:18px'>
					<span style='color:red'>TOURFILTER NEWS</span>: As of Aug. 4, we have discontinued all tourfilter cities except Boston. You can retrieve your band list <a href='/metros'>here</a>. 
					Please read our <a href='https://medium.com/p/2c5e5818e4d3'>blog&nbsp;post</a> about this tough decision.
				</div>
          <div id="right-header">
          <%unless @youser%>
    			<%end%>
    			<%if is_admin?%>
    			<span class='header_menu_item ' >
    				<a href="<%=url('/feed')%>">feed</a>
    			</span>
    			<%end%>
    			<span class='header_menu_item '>
    				<a href="<%=url('/metros')%>">other cities?</a>
    			</span>
    			<span>
    			  <%unless @hide_login%>
              <%if !@youser_logged_in-%>
        			<span class='header_menu_item' >
        				<a href="<%=url('/signup')%>">sign up for alerts</a>
        			</span>
                <span class='header_menu_item '>
                <a href="<%=url('/login')%>">log in</a>
                </span>
              <%else-%>
        			<span class='header_menu_item'>
        				<a href="<%=url('/submit_show')%>">submit a show</a>
        			</span>
                <span class='header_menu_item '>
                <%= link_to 'logout', :controller => :logout%>
                <%="<span style='color:#e77'>a</span>" if is_admin?%>
                </span>
            <%end%>
            </span>
            <%end%>
    		</div>
  	  </div>

  	  <br>
    	<%end%>	  
    <div id='inner_body'>
	<%unless @hide_header%>
      <h1>
          <div class='logo_tourfilter'><a href='/'>Tourfilter</a></div>
          <div class='logo_title'><%=@header_title%></div>
		  <div id='search_box_container' style='float:right'>
			<input id='search_box' name='search_box' autocomplete="off" 
				placeholder=' search <%=@show_count%> <%=@metro.downcase%> concerts	' type=text>
			<div id='loading'>searching ...</div>
			<div id='instant_search_results'></div>
			</div>
			<%= observe_field(:search_box,
											  :frequency => 1,
											  :update => :instant_search_results,
												:loading => "instant_search_loading()",
												:loaded => "instant_search_loaded()",
											  :evalScripts => true,
											  :url => {:controller=>:search,:action => :search,:format => 'instant'}
												)%>
          <div style='clear:both'></div>
		  <div class = 'header_text'>boston concert stuff: email alerts, listings, editors' picks, etc.</div>
	  </h1>
	
	<%end%> <!-- end hide_header -->
	<div style="clear:both;"></div>
	<div style="padding:2px"></div>
<%if flash[:notice]%>
	<div class="notice"><%= flash[:notice] %><%= flash[:error] %></div>
<%end%>
<%if flash[:error]%>
	<div class="error"><%= flash[:notice] %><%= flash[:error] %></div>
<%end%>
<%end%> <!-- if ! fragment -->

<%= @content_for_layout %>

<%if !@fragment and not @hide_footert%>
	<%
#		footer_style="footer"
		footer_style="footer-full-width" #if @full_width_footer
#		footer_style="footer-doublenarrow" if @double_wide_right_column
	%>
	<div style='clear:left'></div>
	<div class='footer' style='padding:0.6em;' id="<%=footer_style%>">
		<span class='footer_menu_item'>
			<a href="/about">about tourfilter</a>
		</span>
	<%unless @not_in_a_city%>
	<span id="blargh" class='footer_menu_item'></span> 
	<script>
	var domain="ourfilter.com"
	domain="t"+domain
	var email="chr"+""+""+"is"
	email=email+"@"
	email=email+""
	email=email+domain
	blargh=email
	// SPAMMERS - GET A LIFE!
	$("blargh").innerHTML="contact: "+blargh
	</script>
		<%end%>
		<span class='footer_menu_item' style='float:right'>
    	   <span style='vertical-align:4px;'> <img height='20px' src='/images/twitter.png'/></span> 
				 <span style='vertical-align:9px;height:20px'> <a href='http://www.twitter.com/tourfilter'>follow us on twitter!</a></span>
    	    </span>
	</div>
</div>

<%if ENV['RAILS_ENV']!='development'%>
<script type="text/javascript">
	var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
	document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
	var pageTracker = _gat._getTracker("UA-529349-1");
	pageTracker._initData();
	pageTracker._trackPageview();
</script>

<%end%>
</div>

</body>
<script type="text/javascript">
/*
var _sf_async_config={uid:21126,domain:"tourfilter.com"};
(function(){
  function loadChartbeat() {
    window._sf_endpt=(new Date()).getTime();
    var e = document.createElement('script');
    e.setAttribute('language', 'javascript');
    e.setAttribute('type', 'text/javascript');
    e.setAttribute('src',
       (("https:" == document.location.protocol) ? "https://a248.e.akamai.net/chartbeat.download.akamai.com/102508/" : "http://static.chartbeat.com/") +
       "js/chartbeat.js");
    document.body.appendChild(e);
  }
  var oldonload = window.onload;
  window.onload = (typeof window.onload != 'function') ?
     loadChartbeat : function() { oldonload(); loadChartbeat(); };
})();
*/
</script>
	</html>
<%end%> <!-- if ! fragment -->
<script>
// test

//pageTracker._trackEvent('1test3', '21test', '1tes2t', 3);
</script>
