<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
   "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
<head>


<title>Music - CD and music reviews, news and clips - Boston.com</title>
<meta name="robots" content="noarchive" />
<meta name="Keywords" content="A&amp;E, Music">
<meta name="Description"
      content="Read music and CD reviews, check out the latest music news, and listen to clips on Boston.com.">
<meta http-equiv="charset" content="iso-8859-1">
<meta property="og:title" content="Music - CD and music reviews, news and clips" />

<meta property="og:site_name" content="Boston.com" />
<meta property="og:type" content="website" />
<meta property="og:description"
      content="Read music and CD reviews, check out the latest music news, and listen to clips on Boston.com." />



<meta property="og:image"
      content="http://cache.boston.com/universal/site_graphics/icons/share/bcom_og_ae.gif" />
<meta property="fb:admins" content="100001044693856,507486035" />
<meta property="fb:app_id" content="117378991625799" />
<script language="javascript" type="text/javascript" src="http://cache.boston.com/universal/js/jquery-1.3.2.min.js"></script>
<link rel="canonical" href="http://www.boston.com/ae/music/" />


<link rel="search" type="application/opensearchdescription+xml" title="Boston.com Local Search" href="http://cache.boston.com/search/files/bostonsearch.xml" />
<link rel="stylesheet" href="http://cache.boston.com/universal/css/bcom_global_styles.css" type="text/css" />
<!--[if IE]><link rel="stylesheet" href="http://cache.boston.com/universal/css/bcom_global_styles_ie.css" type="text/css" /><![endif]-->
<script language="JavaScript" type="text/javascript" src="http://cache.boston.com/universal/js/bcom_global_scripts.js"></script>
<script type="text/javascript" src="http://cache.boston.com/universal/js/underscore-min-1.1.6.js"></script>
<script type="text/javascript" src="http://cache.boston.com/universal/js/backbone-0.3.3.min.js"></script>
<link rel="stylesheet" href="http://cache.boston.com/universal/newsprojects/widgets/slider/slider.css" type="text/css" />
<script type="text/javascript" src="http://cache.boston.com/universal/newsprojects/widgets/slider/slider.js"></script>

<%= javascript_include_tag "application" %>	



<link rel="alternate" type="application/rss+xml"
      href="http://syndication.boston.com/ae/music?mode=rss_10"
      title="Boston.com -- Music news" />





  <link rel="stylesheet" href="http://cache.boston.com/universal/css/bcom_section_styles.css" type="text/css" />
  <script type="text/javascript" src="http://cache.boston.com/universal/js/bcom_blog_video.js"></script>







<script>ifSafari();</script>






<!--Begin OAS MJX setup tag--><script language="JavaScript"><!--
//configuration
var site=document.URL.toLowerCase().match(/s_campaign=(\w+)/);
  if (!(site))
    {campaign="0000"}
  else
    {campaign=site[1]};
OAS_sitepage='www.boston.com/ae/music/homepage';
OAS_listpos='TOP,INTRO,BOTTOM,POPUP,POPUN,EXTRA,BILLBOARD,SPONSOR,SPONSOR1,SPONSOR2,SPONSOR3,SPONSOR4,SPONSOR5,SPONSOR6,MISC1,MISC2,MISC3,MISC4,MISC5,CENTRAL,FEATURE,RIGHT1';
oasquery='pagetype=section_folder&RM_Exclude=exclude_section_folder&s_campaign='+campaign;if(typeof OAS_query=='undefined'||!OAS_query)OAS_query=oasquery;else OAS_query+='&'+oasquery;
OAS_url='http://rmedia.boston.com/RealMedia/ads/';OAS_target='_top';OAS_version=10;OAS_rn='001234567890';OAS_rns='1234567890';OAS_rn=new String(Math.random());OAS_rns=OAS_rn.substring(2, 11);
//--></script><script language="JavaScript1.2"><!--
var rerefer=/referrer=(\w+)/,urefer=document.URL.match(rerefer);if(urefer){if(OAS_query){var reexclude=/RM_Exclude=[\w,*]+/,OAS_query=OAS_query.replace(reexclude,OAS_query.match(reexclude)[0]+',exclude_referrer_'+urefer[1].toLowerCase());OAS_query+='&';}OAS_query+=urefer[0];}
//--></script><script language="JavaScript"><!--
function OAS_NORMAL(pos){document.writeln('<A HREF="'+OAS_url+'click_nx.ads/'+OAS_sitepage+'/1'+OAS_rns+'@'+OAS_listpos+'!'+ pos+'?'+OAS_query+'" TARGET='+OAS_target+'>');document.writeln('<IMG SRC="'+OAS_url+'adstream_nx.ads/'+OAS_sitepage+'/1'+OAS_rns+'@'+OAS_listpos+'!'+pos+'?'+OAS_query+'" BORDER=0></A>');}
//--></script><script language="JavaScript1.1"><!--
OAS_version=11;if((navigator.userAgent.indexOf('Mozilla/3')!=-1)||navigator.userAgent.indexOf('Mozilla/4.0 WebTV')!=-1){OAS_version=10;}if(OAS_version >= 11)document.writeln('<SCR'+'IPT LANGUAGE=JavaScript1.1 SRC="'+OAS_url+'adstream_mjx.ads/'+OAS_sitepage+'/1'+OAS_rns+'@'+OAS_listpos+'?'+OAS_query+'"> <\/SCRIPT>');
//--></script><script language="JavaScript"><!--
document.writeln('');
function OAS_AD(pos){if(OAS_version >= 11)OAS_RICH(pos);else OAS_NORMAL(pos);}
//--></script><!--End OAS MJX setup tag-->

<script language="JavaScript"><!--
var var5 = 'ae_';
//--></script>


<style>
<!--
#globalNav #nav li#gae {background-color:#3F5F9C; background-image:url(http://cache.boston.com/universal/site_graphics/nav_main_on.gif);}
#globalNav #nav li#gae a {color:#fff;}
//--></style>
<style>
<!--
#globalNav #sNav a#secnav_concertalerts, a#secnav_concertalerts:link, a#secnav_concertalerts:visited, a#secnav_concertalerts:active, a#secnav_concertalerts:hover { font-weight: bold; text-decoration: none; color: #000; }
//--></style>


<script language="javascript">if(document.location.search.indexOf("comments=all")!=-1){document.domain = "boston.com"}; var serverUrl = "http://sitelife.boston.com/ver1.0/Direct/Process"; var daapiServerUrl = "http://sitelife.boston.com/ver1.0/Direct/Process";</script>
<script type="text/javascript" src="http://sitelife.boston.com/ver1.0/SiteLifeProxy"></script>
<script type="text/javascript" src="http://sitelife.boston.com/ver1.0/Direct/DirectProxy"></script>





</head>
<body onload="windowLoaded();displayEmbed();"
      class="ae music">


<!-- mbox -->


<!--mBox-->
<script language="JavaScript"> mboxCreate('bc_globalMbox','mboxPageValue=0.53','pageType=default','path='+location.pathname,'profile.userRegistered=false','user.categoryAffinity=category');</script>
<!--End mBox-->



    <div id="container">
      
      <div id="containerBorder">
        <div id="header">
          <div id="headL">
 	    
            
            
	     <div id="mastHead">
    	         	            
			     	             	         
    	      	       	          	         
    	         
    	      	<a href="http://www.boston.com" class="imageLink"><img src="http://cache.boston.com/universal/site_graphics/bcom_small.gif" alt="Boston.com" /></a> 
              <div id="searchForm">
                <div><span onclick="choose(this);" id="searchLocal" class="searchOn">Local Search</span> <span onclick="choose(this)" id="searchSite">Site Search</span></div>
                <script>otherTab = document.getElementById('searchLocal');</script>
                <form action="http://search.boston.com/local/Search.do">
                  <input type="text" name="s.sm.query" id="textField"><input type="submit" value="GO" class="form-button" />
                  <input type="hidden" id="tab" name="s.tab" value="" />
                </form>
              </div>
              
	    </div>
	  </div>
          <div id="headR">
            <div id="signIn">
              <span id="login" class="utility"><script language="JavaScript"><!--
              try{showLoginRRD(147);}catch(e){document.writeln('&nbsp;');}
              //--></script><noscript>&nbsp;</noscript></span>
              <span id="globeLogo"><span id="gLogoSub"><a href="https://bostonglobe.com/subscriber/offer/go/zip.asp?cd=WW015697&amp;od=28">Home Delivery</a></span><a href="http://www.boston.com/bostonglobe/"><img src="http://cache.boston.com/universal/site_graphics/glogo.jpg" /></a></span>
              </div>
              <div id="headAd">
                <div align="center" cellpadding="0"
                     cellspacing="0" border="0"><div
    class="bannerAd" align="center"><script language="JavaScript"><!--
OAS_AD('TOP');
//--></script></div></div>
              </div>
            </div>
          </div>











  
    <div id="globalNav">
<ul class="gnavContainer" id="nav"><li id="ghome"><a
    href="http://www.boston.com/">Home</a></li><li
    id="gglobe"><a href="http://www.boston.com/bostonglobe">Today's Globe</a></li><li
    id="gnews"><a href="http://www.boston.com/news/">News</a></li><li
    id="gyourtown"><a href="http://www.boston.com/yourtown/">Your Town</a></li><li
    id="gbusiness"><a href="http://www.boston.com/business/">Business</a></li><li
    id="gsports"><a href="http://www.boston.com/sports/">Sports</a></li><li
    id="glifestyle"><a href="http://www.boston.com/lifestyle/">Lifestyle</a></li><li
    id="gae"><a href="http://www.boston.com/ae/">A&amp;E</a></li><li
    id="gthings"><a href="http://www.boston.com/thingstodo/">Things to do</a></li><li
    id="gtravel"><a href="http://www.boston.com/travel/">Travel</a></li><li
    id="gcars"><a href="http://www.boston.com/cars/">Cars</a></li><li
    id="gjobs"><a href="http://www.boston.com/jobs/">Jobs</a></li><li
    id="gre"><a href="http://www.boston.com/realestate/">Real Estate</a></li></ul>



<ul id="sNav">
<li><a href="http://www.boston.com/ae/movies/"
       id="secnav_movies">Movies</a></li>
<li><a href="http://www.boston.com/ae/restaurants/"
       id="secnav_restaurants">Restaurants</a></li>
<li><a href="http://www.boston.com/ae/music/"
       id="secnav_music">Music</a></li>
<li><a href="http://www.boston.com/ae/music/"
       id="secnav_concertalerts">Concert Alerts</a></li>
<li><a href="http://www.boston.com/ae/theater_arts/"
       id="secnav_theater_arts">Theater/Art</a></li>
<li><a href="http://www.boston.com/ae/tv/" id="secnav_tv">Television</a></li>
<li><a href="http://www.boston.com/ae/books/"
       id="secnav_books">Books</a></li>
<li><a href="http://www.boston.com/ae/celebrity/"
       id="secnav_celebrity">Celebrity news</a></li>
<li><a href="http://calendar.boston.com/" id="secnav_events">Events</a></li>
<li><a href="http://games.boston.com/" id="secnav_games">Games</a></li>
<li><a href="http://www.boston.com/ae/comics/"
       id="secnav_comics">Comics</a></li>
</ul>
        </div>
        
        <div id="introad" class="adContainer"><script language="JavaScript"><!--
OAS_AD('INTRO');
//--></script></div>
        <div id="billboardAd" class="adContainer"><script language="JavaScript"><!--
OAS_AD('BILLBOARD');
//--></script></div>




        


<div class="hideMe"><!--
    <headline>Music - CD and music reviews, news and clips</headline>
    <source>Boston.com</source>
    <teasetext>Check out the Music - CD and music reviews, news and clips Section on Boston.com. </teasetext>
    <byline></byline>
    <date>June 25, 2011</date>
--></div>


<div id="content" class="section section356">
  
  <div id="Col3">
    

<div class="subSectionHeader">blog</div>
<div class="imgSimple"><a href="http://www.boston.com/ae/music/blog/"
                          class="imageLink"><img src="http://cache.boston.com/bonzai-fba/Original_Photo/2007/12/20/1198179376_1780.jpg" title="Sound Effects music blog" height="29" width="325" alt="Sound Effects music blog" border="0" /></a></div>
<!--passthru--><div class="regTZ">
<a href="http://www.boston.com/ae/music/blog/2011/06/faithfull_i_am.html">'I am the bohemian grandmother'</a>
<span class="tt"> By James Reed Globe Staff WHO Marianne Faithfull WHAT...</span>
</div>

<div class="leadOut"><a href="http://www.boston.com/ae/music/blog/">More in Sound Effects</a></div>

    <div class="fixedAds"><div><script language="JavaScript"><!--
OAS_AD('CENTRAL');
//--></script></div></div>
    <div id="Col3Mid"><div class="dotted4px"><img src="http://cache.boston.com/universal/site_graphics/spcr.gif"
                            class="spcrGif" alt="" /></div>
<h3 class="sectionHeader">Special Section</h3>
<div class="dotted1px"><img src="http://cache.boston.com/universal/site_graphics/spcr.gif"
                            class="spcrGif" alt="" /></div>
<div class="img178h3left"><div class="imgCapCred"><a
    href="http://www.boston.com/ae/specials/summer_arts_preview"
    class="imageLink"><img src="http://cache.boston.com/bonzai-fba/Original_Photo/2011/05/21/music_178__1305990711_8661-2.jpg" title="Summer Arts Preview" height="113" width="178" alt="Summer Arts Preview" border="0" /></a>
  <div class="cf"></div></div><h3><a
    href="http://www.boston.com/ae/specials/summer_arts_preview">Summer Arts Preview</a></h3><div class="tt">
<span>Music fans can look forward to a summer of ukulele tunes from Eddie Vedder, performances by jazz prodigy Grace Kelly, and the return of Brad Paisley in Boston.</span> </div><div
    class="cf"></div></div>


<div class="dotted4px"><img src="http://cache.boston.com/universal/site_graphics/spcr.gif"
                            class="spcrGif" alt="" /></div>
<h3 class="sectionHeader">Classical music</h3>
<div class="dotted1px"><img src="http://cache.boston.com/universal/site_graphics/spcr.gif"
                            class="spcrGif" alt="" /></div>


<div class="overline">Concert Review</div>
<div class="img178h3left"><div class="imgCapCred"><a
    href="http://www.boston.com/ae/music/articles/2011/06/24/tristan_murails_pure_sound_brightens_a_soggy_evening_at_sicpp/"
    class="imageLink"><img src="http://cache.boston.com/bonzai-fba/Third_Party_Photo/2011/06/24/kalish20090505-3__1308922308_5564.jpg" title="Tristan Murail" height="105" width="178" alt="Tristan Murail" border="0" /></a>
  <div class="cf"></div></div><h3><a
    href="http://www.boston.com/ae/music/articles/2011/06/24/tristan_murails_pure_sound_brightens_a_soggy_evening_at_sicpp/">Tristan Murail&#8217;s pure sound brightens a soggy evening</a></h3><div class="tt">
<span>The star of the show at Jordan Hall was an avant-garde troubadour from France, Tristan Murail, this year&#8217;s composer in residence for the annual SICPP festival.</span> </div><div
    class="cf"></div></div>




<div class="padTop10"></div>
<span class="leadIn">More from the Globe</span>


<ul class="linklist"><li><span class="leadIn">Music Review </span><a
    href="http://www.boston.com/ae/music/articles/2011/06/22/loggins_pops_celebrate_sounds_of_summer/"
    class="bold">Loggins, Pops celebrate sounds of summer</a>
</li><li><a href="http://www.boston.com/ae/music/articles/2011/06/10/searching_in_the_guitar_for_all_the_colors_of_the_orchestra/"
   class="bold">Searching in the guitar for all the colors of the orchestra</a>
</li><li><span class="leadIn">Concert Review </span><a
    href="http://www.boston.com/ae/music/articles/2011/06/20/hamelin_brings_waves_of_notes_to_rockport/"
    class="bold">Hamelin brings waves of notes to Rockport</a>
</li><li><span class="leadIn">concert Review </span><a
    href="http://www.boston.com/ae/music/articles/2011/06/20/tallis_scholars_pay_tribute_to_a_spanish_genius/"
    class="bold">Tallis Scholars pay tribute to a Spanish &#8216;Genius&#8217;</a>
</li><li><span class="leadIn">Concert REVIEW </span><a
    href="http://www.boston.com/ae/music/articles/2011/06/18/bemf_tackles_baroque_dance_rhythms/"
    class="bold">BEMF tackles Baroque dance rhythms</a>
</li><li><span class="leadIn">CD Reviews </span><a
    href="http://www.boston.com/ae/music/cd_reviews/articles/2011/06/19/classical_cd_reviews_lush_landscapes_majestic_motifs_shifting_strings/"
    class="bold">Lush landscapes, majestic motifs, shifting strings</a>
</li><li><span class="leadIn">Concert REVIEW </span><a
    href="http://www.boston.com/ae/music/articles/2011/06/18/a_satirical_irreverent_tale_from_boston_camerata/"
    class="bold">A satirical, irreverent tale from Boston Camerata</a>
</li><li><span class="leadIn">Concert REVIEW </span><a
    href="http://www.boston.com/ae/music/articles/2011/06/17/quicksilver_performs_sonata_at_boston_early_music_festival/"
    class="bold">Quicksilver performs sonata at BEMF</a>
</li><li><span class="leadIn">MUSIC REVIEW </span><a
    href="http://www.boston.com/ae/music/articles/2011/06/17/kings_singers_offer_up_a_bemf_debut_of_triumphs/"
    class="bold">King&#8217;s Singers offer up a BEMF debut of triumphs</a>
</li><li><span class="leadIn">Classical Notes </span><a
    href="http://www.boston.com/ae/music/articles/2011/06/17/john_luther_adamss_four_thousand_holes_gets_its_first_live_performance_at_jordan_hall_next_week/"
    class="bold">John Luther Adams&#8217;s &#8216;Four Thousand Holes&#8217; gets its first live performance at Jordan Hall next week</a>
</li><li><span class="leadIn">Concert REVIEW </span><a
    href="http://www.boston.com/ae/music/articles/2011/06/17/young_performers_festival_provides_a_bemf_bonus_series/"
    class="bold">Young Performers Festival provides a BEMF bonus series</a>
</li></ul>
<div class="padTop10"></div>


<div class="ltBlueBox"><div class="padAll10"><div class="subSectionHeader">Upcoming concerts and venue information</div>


<ul class="linklist"><li><a href="http://calendar.boston.com/boston-ma/venues/show/17592-boston-symphony-hall"
   class="bold">What's coming up at Boston Symphony Hall?</a>
</li><li><a href="http://calendar.boston.com/boston-ma/events/show/80745403-boston-symphony-orchestra"
   class="bold">Boston Symphony Orchestra schedule</a>
</li><li><a href="http://calendar.boston.com/search?swhere=Boston%2C+MA&amp;trim=1&amp;swhen=&amp;srss=10&amp;srad=60&amp;st=event&amp;sort=0&amp;svt=text&amp;new=n&amp;swhat=&amp;cat=80"
   class="bold">Search for more classical music concerts</a>
</li></ul>
</div></div>
<div class="cf"></div>
<div class="dotted4px"><img src="http://cache.boston.com/universal/site_graphics/spcr.gif"
                            class="spcrGif" alt="" /></div>


<h3 class="sectionHeader">Video</h3>
<div class="dotted1px"><img src="http://cache.boston.com/universal/site_graphics/spcr.gif"
                            class="spcrGif" alt="" /></div>
<div class="padTop6"></div>


<div class="tcCentered">
<div class="videoplayer" data-schema="1"
     data-player="sectionfront"
     data-params="lineupID=713046260" data-options="">
  <div class="videoplayer-inner" style="width:329px;height:370px">
    <div class="videoplayer-loading"><div><b>loading video...</b> (please wait a moment)</div></div>
    <div class="videoplayer-getflash"><a href="http://www.adobe.com/go/getflash/">Requires Adobe Flash Player</a></div>
  </div>
</div>
<div id="externalBanner"></div>
<div id="Col2Top"></div>
</div>
<div class="padTop6"></div>
<div class="leadOut"><a href="http://www.boston.com/ae/music/music_video_callout/">Upload your videos</a></div>
<div class="padTop10"></div>


<h3 class="sectionHeader">Community</h3>
<div class="dotted1px"><img src="http://cache.boston.com/universal/site_graphics/spcr.gif"
                            class="spcrGif" alt="" /></div>
<script type="text/javascript">
		document.domain = "boston.com";
		var daapiServerUrl = "http://sitelife.boston.com/ver1.0/Direct/Process";
	</script>
<script type="text/javascript" src="http://sitelife.boston.com/ver1.0/SiteLifeProxy"></script>

	<script type="text/javascript" src="http://sitelife.boston.com/ver1.0/Direct/DirectProxy"></script>
<script type="text/javascript" src="http://cache.boston.com/universal/js/trimpath-template-1.0.38.js"></script>
<script type="text/javascript" src="http://cache.boston.com/universal/js/bcom_pluck_discovery.js"></script>
<style type="text/css">
	.trimPathTemplate {
		display: none;
	}
</style>
<!--[if IE 6]><style>#Summary_Container_X .Summary_ForumsContainer { height: 100%; }</style><![endif]-->
<div id="recentForumPostOutput"></div>

<script type="text/javascript">
var parentKey = [ new ForumKey("Cat:Arts and EntertainmentForum:9500") ]
        getRecentForumPosts(5, parentKey);
</script>

<!-- TrimPath template for forum discovery -->
<textarea id="recentForumPostTemplate" class="trimPathTemplate">
<div class="Summary_Container1" id="Summary_Container{if true}_X{/if}">
<div class="Summary_ContainerHead">
<div class="Summary_ForumsTitle">DISCUSSIONS &#187;</div>

<div class="Summary_ForumsPosts">Posts</div>

<div class="Summary_ForumsLatest">Last Updated</div>
</div>

{if items.length &gt; 0} {eval}itemCount = 0{/eval} {for discoDiscus in items} {eval}itemCount++;{/eval} 

<div class="Summary_Container">
<div class="Summary_ForumsContainer {if itemCount%2 == 0} Summary_ForumsAltColor{/if}">
<div class="Summary_ForumsTitle">
<div class="Summary_ForumsTitleImg">{if discoDiscus.IsQuestion == "False"} <img src="http://cache.boston.com/ver1.0/Content/images/forums/thread.gif"> {else} <img src="http://cache.boston.com/ver1.0/Content/images/forums/question.gif"> {/if}</div>

<a href="${discoDiscus.DiscussionUrl}&amp;plckShowFirstUnread=1">${discoDiscus.DiscussionTitle}</a></div>

<div class="Summary_ForumsPosts"><a href="${discoDiscus.DiscussionUrl}&amp;plckShowFirstUnread=1">${discoDiscus.PostCount}</a></div>

<div class="Summary_ForumsLatest"><a href="${discoDiscus.DiscussionUrl}&amp;plckShowLatestPost=1">${dateCleanUp(discoDiscus.LastPostDate)} ago</a> by <a href="${discoDiscus.LastPostBy.PersonaUrl}">${discoDiscus.LastPostBy.DisplayName}</a></div>
</div>
</div>

{/for} {else} 

<div class="Summary_Container">No new discussions available. Please <a href="http://www.boston.com/community/forums.html?plckForumPage=Forum&plckForumId=Cat%3aArts+and+EntertainmentForum%3a9500">head to the Music forums</a> and start one!</div>

{/if}</div>
</textarea>
<div class="leadOut"><a href="http://www.boston.com/community/forums.html?plckForumPage=Forum&amp;plckForumId=Cat%3aArts+and+EntertainmentForum%3a9500">More Music Discussions</a></div>
<div class="dotted1px"><img src="http://cache.boston.com/universal/site_graphics/spcr.gif"
                            class="spcrGif" alt="" /></div>
<div class="subSectionHeader">LOCAL MUSIC BLOGS</div>
<div id="bdc_pointsLocalWidget2000017"><script type="text/javascript"> loadPoints(396, 'bdc_pointsLocalWidget2000017', '/pl_proxy?id='); </script>  </div>
<div id="bdc_pointsLocalWidget2000013"><script type="text/javascript"> loadPoints(397, 'bdc_pointsLocalWidget2000013', '/pl_proxy?id='); </script>  </div>


<div class="tcCentered">

<ul class="linklistNoBullets"><li><a href="http://www.boston.com/help/feedback/" class="bold">Have a local blog? Let us know about it</a>
</li></ul>
</div>
<div class="dotted1px"><img src="http://cache.boston.com/universal/site_graphics/spcr.gif"
                            class="spcrGif" alt="" /></div>
<div class="padTop6"></div>
</div>
    <div id="Col3LR">
      <div id="Col3L">
  
<div class="dotted4px"><img src="http://cache.boston.com/universal/site_graphics/spcr.gif"
                            class="spcrGif" alt="" /></div>



<h3 class="sectionHeader">Features</h3>
<div class="padTop6"></div>
<div class="img178h3left"><div class="imgCapCred"><a
    href="http://www.boston.com/ae/music/packages/cds2010/"
    class="imageLink"><img src="http://cache.boston.com/bonzai-fba/Original_Photo/2010/12/18/cds__1292695781_3733-2.jpg" title="The best CDs of 2010" height="105" width="178" alt="The best CDs of 2010" border="0" /></a>
  <div class="cf"></div></div><h3><a
    href="http://www.boston.com/ae/music/packages/cds2010/">The best CDs of 2010</a></h3><div class="tt">
<span>Globe music critics pick their favorite 10 albums of the year and from each writer -- a noteworthy surprise.</span> </div><div
    class="cf"></div></div>


<ul class="linklistNoBullets"><li><a href="http://www.boston.com/ae/music/cd_reviews/articles/2010/12/27/the_best_albums_you_probably_didnt_hear_this_year/">The best albums you probably didn&#8217;t hear in 2010</a>
</li></ul>
<div class="padTop10"></div>
<div class="img178h3left"><div class="imgCapCred"><a
    href="http://www.boston.com/ae/tv/gallery/peopleschoice11/"
    class="imageLink"><img src="http://cache.boston.com/bonzai-fba/Original_Photo/2011/01/05/peoples2__1294289239_5144-3.jpg" title="People's Choice Awards" height="105" width="178" alt="People's Choice Awards" border="0" /></a>
  <div class="cf"></div></div><h3><a
    href="http://www.boston.com/ae/tv/gallery/peopleschoice11/">People's Choice Awards</a></h3><div class="tt">
<span>Check out show highlights, see who won, and browse scenes from the special blue carpet.</span> </div><div
    class="cf"></div></div>
<div class="padTop10"></div>
<div class="img178h3left"><div class="imgCapCred"><a
    href="http://www.boston.com/thingstodo/gallery/gardenarea/"
    class="imageLink"><img src="http://cache.boston.com/bonzai-fba/Third_Party_Photo/2009/11/18/garden__1258568630_8855-1.jpg" title="Guide to happenings around TD Garden in Boston" height="105" width="178" alt="Guide to happenings around TD Garden in Boston" border="0" /></a>
  <div class="cf"></div></div><h3><a
    href="http://www.boston.com/thingstodo/gallery/gardenarea/">TD Garden guide</a></h3><div class="tt">
<span>Headed out to see a concert? You'll find plenty of options for hanging out or grabbing pre-or-post show eats and drinks in the North Station area.</span> </div><div
    class="cf"></div></div>
      </div>
      <div id="Col3R">
        <div><script language="JavaScript"><!--
OAS_AD('RIGHT1');
//--></script></div>
      </div>
      <div class="cf"></div>
    </div>
  </div>
<div style='background-color:white !important;height:1200px'>
<%=@content_for_layout%>
</div>
<div id="footer">
  <div id="bottomBanner">
<div class="sponLinks"><script language="JavaScript"><!--
OAS_AD('SPONSOR1');
//--></script></div>
<div class="sponLinks"><script language="JavaScript"><!--
OAS_AD('SPONSOR2');
//--></script></div>
<div class="sponLinks"><script language="JavaScript"><!--
OAS_AD('SPONSOR3');
//--></script></div>
<div class="sponLinks"><script language="JavaScript"><!--
OAS_AD('SPONSOR4');
//--></script></div>
<div class="sponLinks"><script language="JavaScript"><!--
OAS_AD('SPONSOR5');
//--></script></div>
<div class="sponLinks"><script language="JavaScript"><!--
OAS_AD('SPONSOR6');
//--></script></div>
<div class="cf"></div>
</div>
  <div>
  <div id="bottomLinks">
    <ul class="gnavContainer">
      <li><a rel="nofollow" href="http://www.boston.com/">Home</a></li><li class="listPipe">|</li>
      <li><a rel="nofollow" href="http://www.boston.com/news/globe/">Today's Globe</a></li><li class="listPipe">|</li>
      <li><a rel="nofollow" href="http://www.boston.com/news/">News</a></li><li class="listPipe">|</li>
      <li><a rel="nofollow" href="http://www.boston.com/business/">Business</a></li><li class="listPipe">|</li>
      <li><a rel="nofollow" href="http://www.boston.com/sports/">Sports</a></li><li class="listPipe">|</li>
      <li><a rel="nofollow" href="http://www.boston.com/lifestyle/">Lifestyle</a></li><li class="listPipe">|</li>
      <li><a rel="nofollow" href="http://www.boston.com/ae/">A&amp;E</a></li><li class="listPipe">|</li>
      <li><a rel="nofollow" href="http://www.boston.com/thingstodo/">Things to Do</a></li><li class="listPipe">|</li>
      <li><a rel="nofollow" href="http://www.boston.com/travel/">Travel</a></li><li class="listPipe">|</li>
      <li><a rel="nofollow" href="http://www.boston.com/cars/" class="cfied">Cars</a></li><li class="listPipe">|</li>
      <li><a rel="nofollow" href="http://www.boston.com/jobs/" class="cfied">Jobs</a></li><li class="listPipe">|</li>
      <li><a rel="nofollow" href="http://www.boston.com/realestate/" class="cfied">Real Estate</a></li><li class="listPipe">|</li>
      <li><a rel="nofollow" href="http://www.boston.com/search/" class="cfied">Local Search</a></li>
    </ul>
    <ul id="bcomLinks">
      <li class="first"><a rel="nofollow" href="http://www.boston.com/help/bostoncom_info/">Contact Boston.com</a></li> <li class="listPipe">|</li>
      <li><a rel="nofollow" href="http://www.boston.com/help/">Help</a></li><li class="listPipe">|</li>
      <li><a rel="nofollow" href="http://www.bostonglobe.com/advertiser/online/online.aspx?id=13052">Advertise</a></li><li class="listPipe">|</li>
      <li><a href="http://jobsearch.boston.monster.com/jobs/boston-globe-media+boston-globe+boston__2ecom_666?where=Boston__2C-MA&rad=10&sort=rv.dt&cy=us">Work here</a></li><li class="listPipe">|</li>
      <li><a rel="nofollow" href="http://www.boston.com/help/privacy_policy/">Updated Privacy Policy</a></li><li class="listPipe">|</li>
      <li><a rel="nofollow" href="http://www.boston.com/help/privacy_policy/#adchoice">Your Ad Choices</a></li><li class="listPipe">|</li>
      <li><script language="JavaScript"><!--
          signupLink();
          //--></script><noscript><a href="http://members.boston.com/reg/login.do?dispatch=loginpage&amp;p1=Foot_ContactBostonCom_Newsletters">Newsletters</a></noscript></li><li class="listPipe">|</li>
      <li><a rel="nofollow" href="http://www.boston.com/tools/mobile/">Mobile</a></li><li class="listPipe">|</li>
      <li><a rel="nofollow" href="http://www.boston.com/tools/rss/">RSS feeds</a></li><li class="listPipe">|</li>
      <li><a href="http://spiderbites.boston.com/sitemap-service/Home.xml">Sitemap</a></li>
    </ul>
    <ul id="bglobeLinks">
      <li class="first"><a rel="nofollow" href="http://bostonglobe.com/aboutus/contact_us/default.aspx">Contact The Boston Globe</a></li><li class="listPipe">|</li>
      <li><a href="http://bostonglobe.com/subscribers/homedelivery.aspx?id=5278">Subscribe</a></li><li class="listPipe">|</li>
      <li><a rel="nofollow" href="http://bostonglobe.com/subscribers/custserv.aspx?id=5274">Manage your subscription</a></li><li class="listPipe">|</li>
      <li><a href="http://bostonglobe.com/advertiser/default.aspx">Advertise</a></li><li class="listPipe">|</li>
      <li><a rel="nofollow" href="http://bostonglobe.com/subscribers/extras/index.aspx">The Boston Globe Extras</a></li><li class="listPipe">|</li>
      <li><a rel="nofollow" href="http://www.doriancolor.com/page3.html">The Boston Globe Gallery</a></li><li class="listPipe">|</li>
      <li>&copy; <script> var crYear = new Date(); document.write(crYear.getFullYear());</script> NY Times Co.</li>
    </ul>
  </div>

</div>
  
</div>
          

        
      </div>
    </div>
<script language="JavaScript"><!--
OAS_AD('POPUP');
//--></script>
<script language="JavaScript"><!--
OAS_AD('POPUN');
//--></script>
<script language="JavaScript"><!--
OAS_AD('EXTRA');
//--></script>
<script language="JavaScript"><!--
OAS_AD('MISC1');
//--></script>
<script language="JavaScript"><!--
OAS_AD('MISC2');
//--></script>
<script language="JavaScript"><!--
OAS_AD('MISC3');
//--></script>
<script language="JavaScript"><!--
OAS_AD('MISC4');
//--></script>
<script language="JavaScript"><!--
OAS_AD('MISC5');
//--></script>





<!-- SiteCatalyst code version: G.5. Copyright 1997-2003 Omniture, Inc. More info available at http://www.omniture.com -->
<script language="JavaScript" src="http://cache.boston.com/omniture/hcode/s_code.js"></script>

<script language="JavaScript"><!--
s.pageName='A&E | Music',s.channel='A&E',s.prop1='A&E | Music';
s.server='',s.pageType='',s.prop2='',s.prop3='',s.prop4='',s.prop5='',s.prop6='Section Folder',s.prop7='',s.prop8='',s.prop9='',s.prop10='';
if(document.location.search.indexOf('comments=all')!=-1) { s.prop6 += ' | Comments view'; }
if (archivedState && (archivedState=1)) {s.prop6 += ' | Archive Stub';}
/* E-commerce Variables */
s.campaign='',s.state='',s.zip='',s.events='',s.products='',s.purchaseID='',s.eVar1='',s.eVar2='',s.eVar3='',s.eVar4='',s.eVar5='',s.eVar6='',s.eVar7='',s.eVar8='',s.eVar9='',s.eVar10='';
var isFacebook = getCookie('fbs_135637993114591'), isBCom_PA = getCookie('pathAuth'), isBCom_PAS = getCookie('pathAuthSess');
if((isBCom_PA != null) || ((isBCom_PA != null) && (isBCom_PAS != null))) {
    s.prop35 = 'Logged in - Boston', s.eVar20 = 'Logged in - Boston';
}
else {
    if(isFacebook != null) { s.prop35 = 'Logged in - Facebook', s.eVar20 = 'Logged in - Facebook'; }
    else { s.prop35 = 'Not Logged in', s.eVar20='Not Logged in'; }
}
var s_code=s.t();if(s_code)document.write(s_code)
//--></script>
<script language="JavaScript" type="text/javascript"><!--
if(navigator.appVersion.indexOf('MSIE')>=0)document.write(unescape('%3C')+'\!-'+'-')
//--></script>
<noscript><a href="http://www.omniture.com" title="Web Analytics"><img src="http://nytbglobe.112.2O7.net/b/ss/nytbglobe/1/H.19.3--NS/0" height="1" width="1" border="0" alt="" /></a></noscript><!--/DO NOT REMOVE/-->
<!--Tacoda--><script language="JavaScript">var tcdacmd="dt";</script><script src="http://an.tacoda.net/an/13651/slf.js" language="JavaScript"></script><!--End Tacoda-->
<!--NYTD Pixel--><script language="JavaScript"><!-- 	 
 Nytd_Pixel_addGlobalTaxonomyValue('3'); 	 
 Nytd_Pixel(); 	 
 --></script><!--End NYTD Pixel-->


<!-- START Nielsen Online SiteCensus V6.0 -->
<!-- COPYRIGHT 2010 Nielsen Online -->
<script type="text/javascript">
  (function () {
    var d = new Image(1, 1);
    d.onerror = d.onload = function () {
      d.onerror = d.onload = null;
    };
    d.src = ["//secure-us.imrworldwide.com/cgi-bin/m?ci=us-604060h&cg=0&cc=1&si=", escape(window.location.href), "&rp=", escape(document.referrer), "&ts=compact&rnd=", (new Date()).getTime()].join('');
  })();
</script>
<noscript>
  <div>
    <img src="//secure-us.imrworldwide.com/cgi-bin/m?ci=us-604060h&amp;cg=0&amp;cc=1&amp;ts=noscript" width="1" height="1" alt="" />
  </div>
</noscript>
<!-- END Nielsen Online SiteCensus V6.0 -->


</body>
</html>