<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:fb="http://www.facebook.com/2008/fbml">
<%if !@fragment%>
	<head>
		<meta content="yes" name="apple-mobile-web-app-capable">
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
    	
		<title><%=@page_title%></title>
		<%= stylesheet_link_tag 'tourfilter' %>
		<%unless @no_javascript%>
		<%= javascript_include_tag "application" %>	
		<%end%>	
	</head>
	<body >
		<div class='minimal_layout_container'>
	  	  <div class='minimal_header'>
			<div id='left-header' >
				<a href='/'>tourfilter</a> <a href='/<%=@metro_code%>'><%=@metro_code%></a>
			</div>
			<div id='right-header' style='font-size:13px' >
				<a class='basic_button'  href='/'>+ post flyer</a>
			</div>
			<div style='clear:both'></div>
	  	  </div>
    <div id='inner_body' >
<%end%> <!-- if ! fragment -->
<div style='width:100%'>
<%= @content_for_layout %>
</div>

<%if !@fragment and not @hide_footer%>
	<div class='minimal_footer'>
	<div id='left-header'>
		<%if @youser%>
		<a href='<%=url("/login/logout")%>'>logout</a> &bull;
		<%else%>
		<a href='<%=url("/login")%>'>login</a> &bull;
		<%end%>
		<a href='<%=url("/metros")%>'>change metro</a> &bull;
		<a href='<%=url("/?full_version=1")%>'>full version</a>
	</div>
	<div style='clear:both'></div>
  </div>

	<%if ENV['RAILS_ENV']!='development'%>
	<script type="text/javascript">
	var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
	document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
	</script>
	<script type="text/javascript">
	var pageTracker = _gat._getTracker("UA-529349-1");
	pageTracker._initData();
	pageTracker._trackPageview();
	</script>

<%end%>
</div>
</div>
</body>
<script type="text/javascript">
var _sf_async_config={uid:21126,domain:"tourfilter.com"};
(function(){
  function loadChartbeat() {
    window._sf_endpt=(new Date()).getTime();
    var e = document.createElement('script');
    e.setAttribute('language', 'javascript');
    e.setAttribute('type', 'text/javascript');
    e.setAttribute('src',
       (("https:" == document.location.protocol) ? "https://a248.e.akamai.net/chartbeat.download.akamai.com/102508/" : "http://static.chartbeat.com/") +
       "js/chartbeat.js");
    document.body.appendChild(e);
  }
  var oldonload = window.onload;
  window.onload = (typeof window.onload != 'function') ?
     loadChartbeat : function() { oldonload(); loadChartbeat(); };
})();

</script>
	</html>
<%end%> <!-- if ! fragment -->
<script>
// test

//pageTracker._trackEvent('1test3', '21test', '1tes2t', 3);
</script>

<%if false #ENV['RAILS_ENV']!='development'%>
<script>
track_page_view()
</script>
<%end%>


