<%@full_width_footer=true%>
<div id="main-full-width">
You have successfully unflagged this match (<i><%=@match.term.text%> at <%=@match.page.place.name.downcase%></i>) 
	<br><br>
<a style="text-decoration:underline" class="underline" href='<%=url("/<%=@match.term.url_text%>")%>'>&laquo; return to <%=@match.term.text%></a>
</div>